@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    box-sizing: border-box
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: #000;
}

.intro,
.outro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 160px;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 5px;
}

.icons {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 8px 5px;
    list-style: none;
    overflow: hidden;
}

.icons li {
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    text-align: center;
    opacity: 1;
    transform: translateY(-75rem);
}

.icons li:nth-child(1) {
    animation: up .9s 1s ease-in-out forwards, fadeout .3s 3.4s ease forwards;
}

.icons li:nth-child(2) {
    animation: up 1.25s 1.25s ease-in-out forwards, fadeout .3s 3.4s ease forwards;
}

.icons li:nth-child(3) {
    animation: up .85s 1.4s ease-in-out forwards, fadeout .3s 3.4s ease forwards;
}

.icons i {
    display: block;
    padding: .9rem 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    color: white;
}


@keyframes up {
    0% {
        transform: translateY(-75rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes miniup {
    0% {
        transform: translateY(-5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ltr {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(45deg);
    }

    12% {
        transform: rotate(45deg);
    }

    12.5% {
        transform: rotate(90deg);
    }

    24.5% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(135deg);
    }

    37% {
        transform: rotate(135deg);
    }

    37.5% {
        transform: rotate(180deg);
    }

    49.5% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(225deg);
    }

    62% {
        transform: rotate(225deg);
    }

    62.5% {
        transform: rotate(270deg);
    }

    74.5% {
        transform: rotate(270deg);
    }

    75% {
        transform: rotate(315deg);
    }

    99% {
        transform: rotate(315deg);
    }

    99.5% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes bombom {
    0% {
        transform: scale(100%);
    }

    25% {
        transform: scale(95%);
    }

    50% {
        transform: scale(105%);
    }

    75% {
        transform: scale(95%);
    }

    100% {
        transform: scale(100%);
    }
}